.app-header {
  position: fixed;
  top: 0;
  left: 210px;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 56px;
  padding: 0 20px;
  color: #333;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  .menu-collapse {
    font-size: 18px;
    color: #333;
    cursor: pointer;
  }
}

.app-header-right {
  margin-left: auto;
}

.app-header-avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
  .item-name {
    margin-left: 4px;
  }
  .icon-down {
    color: #666;
  }
}
