.app-sider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  background: #36415e;
  transition: width 0.3s ease-in-out;
  &:hover {
    overflow-y: auto;
  }
  .ant-menu {
    --ant-menu-dark-item-bg: #36415e;
    --ant-menu-dark-sub-menu-item-bg: #36415e;
    --ant-menu-collapsed-width: 64px;
    --ant-menu-dark-item-color: rgba(255, 255, 255, 0.8);
  }
}

.ant-menu-sub {
  --ant-menu-dark-popup-bg: #36415e;
  --ant-menu-dark-item-color: rgba(255, 255, 255, 0.8);
}

.app-sider-top {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 210px;
  padding: 16px 0;
  background: #36415e;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
  &.is-expand {
    width: 44px;
  }
}

.app-sider-logo {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-right: 10px;
}
