.app-sider {
  --menu-bg-color: #36415e;
  --menu-hover-bg-color: #404d70;
  --menu-text-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: var(--menu-bg-color);
  transition: width 0.3s ease-in-out;
}

.app-sider-top {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 210px;
  padding: 16px 0;
  background: var(--el-menu-bg-color);
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
  &.is-expand {
    width: 44px;
  }
}

.app-sider-logo {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-right: 10px;
}
