.login-page {
  display: flex;
  height: 100%;
  background: #f4f8fa;
}

.login-box {
  margin: auto;
  width: 440px;
  padding: 30px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
